<h1>Here is your profile</h1>

<%=@user.username%> 

<br>

<%=@user.name%>

<br>

<%=@user.address%>

<br>

<form method="get" action="/users/logout">

    <button type="submit">Logout</button>

</form>